{
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["__tests__/*"],
      "globals": {
        "expect": true,
        "jest": true,
        "it": true,
        "describe": true
      }
    }
  ],
  "rules": {
    "camelcase": "warn"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}