{
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-var-requires": "warn"
  }
}